{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="container">
  <div class="row">
    <br /><br /><br />
    <h2>Welcome <b>{{user.username }}</b></h2>
    <br />
   <h3>NewsVibe Personalised News </h3>

  <div class="col-md-4">
    <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/74/Manorama_News.svg/816px-Manorama_News.svg.png" alt="" width="40%" class="img-responsive">

    <h3>Malayala Manorama</h3><br/><br/></center>
    {% for obj in d.entries %}
    <ul>
      <li>
        <h4>{{ obj.title }}</h4>
      <a href='{{ obj.link }}'><button type="button" name="button" class="btn btn-primary btn-sm">Read More</button></a><br/><br/>
      </li>
    </ul>
    {% endfor %}
</div>
<div class="col-md-4">

  <center><img src="https://lh3.googleusercontent.com/-7y-_KBFfnQM/VcT-ZZNv8OI/AAAAAAAAAE0/MF6NAqhJNGY/w1024-h1024/mzl.nagmequq.png" alt="" width="50%" class="img-responsive">

  <h3>Matrubhumi</h3><br/><br/></center>
  {% for obj in a.entries %}
  <ul>
    <li>
      <h4>{{ obj.title }}</h4>
      <a href='{{ obj.link }}'><button type="button" name="button" class="btn btn-primary  btn-sm">Read More</button></a><br/><br/>
    </li>
  </ul>
  {% endfor %}

</div>


<div class="col-md-4">

  <center><img src="https://yt3.ggpht.com/-Vg0NGzVS2CA/AAAAAAAAAAI/AAAAAAAAAAA/Noqu_HHlI7c/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="" width="50%" class="img-responsive">

  <h3>Madhyamam</h3><br/><br/></center>
  {% for obj in b.entries %}
  <ul >
    <li >
      <h4>{{ obj.title }}</h4>
      <a href='{{ obj.link }}'><button type="button" name="button" class="btn btn-primary btn-sm">Read More</button></a><br/><br/>
    </li>
  </ul>
  {% endfor %}

</div>







</div>
</div>
</div>


{% endblock %}
